{% extends 'reservation/index.html' %}
{% block content %}
{% load static %}
<table>
    <tr>
        <td><img src="{% static 'office.jpg' %}" width="300" height="300"></td>
        <td>
<p>The doctors of Harrison Dental Group have been providing family-friendly dentistry for decades. Our dental care is advanced, yet affordable, and we are members of various prestigious organizations:</p>
<ul>
    <li>Academy of General Dentistry</li>
    <li>American Dental Society of Anesthesiology</li>
    <li>American Dental Association</li>
</ul>
<p>To request a consultation at one of our Fort Wayne locations, call us at (260) 238-8690 or request an appointment online.</p>
        </td>
    </tr>
</table>
{% endblock %}