{% extends 'reservation/index.html' %}

{% block content %}
        {% for post in posts %}
            <article>
                <time>Scheduled: {{ post.date }} - {{ post.time}} </time>
                <h2>Dentist: {{ post.dentist }} User:<a href="{% url 'user_detail' pk=post.pk %}">{{ post.fullname }}</a></h2>
                <p></p>
                <form action="{% url 'appointment_remove' post.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete Appointment">
                </form>
            </article>
        {% endfor %}
{% endblock %}